create schema if not exists studentdatabasestate;


USE studentdatabasestate;

create table if not exists student(
                        id                      BIGINT                      not null AUTO_INCREMENT primary key,
                        first_name              varchar(100),
                        last_name               varchar(100),
                        email                   varchar(255),
                        enrollment_date         date
);

create table if not exists course(
                       id                      BIGINT                      AUTO_INCREMENT primary key,
                       title                   varchar(200),
                       credits                 int
);

create table if not exists enrollment(
                           id                      BIGINT                      not null AUTO_INCREMENT primary key,
                           student_id              BIGINT                      not null,
                           course_id               BIGINT                      not null,
                           grade                   int,
                           constraint fk_enrollment_student foreign key (student_id) references student(id) on delete cascade,
                           constraint fk_enrollment_course foreign key (course_id) references course(id) on delete cascade
);